/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

label {
    font-weight: 700 !important;
}

.task-container {
    padding: 10px 5px 10px 30px;
}

.project-container {
    padding: 10px 0px 0px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffa8a8;
    border-radius: 5px;
}

.table-bordered {
    border: 1px solid #e3e6f0 !important;
    border-radius: 5px !important;
}

.note-toolbar.panel-heading {
    position: initial !important;
}

textarea.form-control {
    height: 100px;
}

.bg-nav-top {
    background-color: #f4f7ff !important;
}

._task-container {
    display: flex;
    justify-content: flex-end !important;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.modal-loading {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .4 ) url('/images/loading.gif') 50% 50% no-repeat;
}


