@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<partial name="~/Views/Shared/_MessageResult.cshtml" />

<h2>Home</h2>
<hr />

<h5>Projetos -> Tarefas</h5>

<div class="row">

    @foreach (var project in Model.projectModels)
    {
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">@project.name</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@project.description</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



