@model TaskGroupWeb.Models.ProjectModel

@{
    ViewData["Title"] = "Editar Projeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}

@if (TempData["Sucess"] != null)
{
    <p class="alert alert-success">@TempData["Sucess"]</p>
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="projectId" class="control-label"></label>
                <input asp-for="projectId" class="form-control" hidden />
                <span asp-validation-for="projectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="framework" class="control-label"></label>
                <input asp-for="framework" class="form-control" />
                <span asp-validation-for="framework" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateCreated" class="control-label"></label>
                <input asp-for="dateCreated" class="form-control" disabled />
                <span asp-validation-for="dateCreated" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Salvar</span>
                </button>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-backward"></i>
        </span>
        <span class="text">Voltar a lista</span>
    </a>
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
}


